/* Шрифты */

@font-face {
    font-family: 'PT sans';
    font-style: normal;
    font-weight: 400;
    src: local('Ptsans'), local('PT Sans'),
    url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'PT sans';
    font-style: normal;
    font-weight: 700;
    src: local('Ptsans bold'), local('PT Sans bold'),
    url('../fonts/ptsansbold.woff2') format('woff2'),
    url('../fonts/ptsansbold.woff') format('woff');
    font-display: swap;
}
/* Кастомные свойства */
:root {
    /* Тексты */
    --basic-black: #000000;
    --text-description: #333333;
    --basic-white: #FFFFFF;

    /* Фоны */
    --blue: #81B3D2;
    --blue-hover: #669EC0;
    --blue-active: #5496BD;

    --brown: #766357;
    --brown-hover: #604E43;
    --brown-active: #503E33;

    --backgound-gray: #EEEEEE;
    --decor-gray: #E5E5E5;;

    /* Инпуты */
    --input-gray: #F2F2F2;
    --input-gray-hover: #EBEBEB;
    --input-minplus: #A9A9A9;
    --input-minplus-active: #81B3D2;
    --input-range: #ABABAB;

    /* Рейтинг */
    --rate: #666666;
}

/* Базовые стили */
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background: var(--input-gray);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}
.page {
    height: 100%;
  }
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background: var(--basic-white);
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    position: relative;
    min-height: 100%;
}
.seo_text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Меню */
.main_banner {
    background-color: var(--blue);
}

/* Меню */
.header_menu {
    width: 100%;
}
.header_row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}
.menu_list {
    display: flex;
    margin: 0;
    padding: 0;
}
.nav_menu li{
    list-style: none;
}
.header_logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 50;
    height: 70px;
}
.nav_link {
    color: var(--basic-black);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-decoration: none;
}
.menu_list li:nth-child(1) {
    padding: 0 67px 0 72px;
}
.menu_list li:nth-child(2) {
    padding: 0 209px 0 67px;
}
.menu_list li:nth-child(3) {
    padding: 0 73.5px 0 209px;
}
.menu_list li:nth-child(4) {
    padding: 0 72px 0 73.5px;
}
.nav_link:hover {
    color: var(--blue);
}
.nav_link:active {
    color: var(--basic-black);
    opacity: 0.3;
}
/* .nav_link:visited {
    color: var(--brown);
} */

/* Блок с главным баннером */

/*  */
.main_banner {
    position: relative;
    height: 509px;
    margin-bottom: 43px;
}
.welcome_img {
    position: absolute;
    top: 76px;
    left: 50%;
    transform: translate(-50%, 0px)
}
.index_title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: inherit;
    margin-bottom: 43px;
}
.index_description {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: var(--text-description);
    margin-bottom: 51px;
}

.decor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1200px;
    height: 57px;
    background-image: url("../img/Shape.svg");
    background-repeat: no-repeat;
}

/* Преимущества */
.blue_fone {
    background-color: var(--blue);
}

.advantages_title {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: var(--basic-white);
    margin-top: 47px;
}
.advantages_description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: var(--basic-white);
    margin-top: 26px;
    margin-bottom: 25px
}
.cause_photo_first {
    display: grid;
    grid-template-columns: 400px 800px;
    margin-bottom: 27px;
}
.cause_photo_second {
    display: grid;
    grid-template-columns: 800px 400px; 
}

/* Блок с иконками */
.advertising_block {
    margin-bottom: 47px;
}
.advertising {
    list-style: none;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
}
.advertising li{
    margin-top: 70px;
}
.advertising .home::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 72px;
    top: 33px;
    left: 162px;
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
}
.advertising .food::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 70px;
    top: 34px;
    left: 562px;
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
}
.advertising .gift::before {
    content: "";
    position: absolute;
    width: 64px;
    height: 77px;
    top: 28px;
    left: 968px;
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
}

.advent_icon {
    display: block;
    margin: 0 auto;
}
.advent_title {
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    margin: 0;
    margin-top: 28px;
    margin-bottom: 25px;
}
.advent_description {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-description);
    margin: 0;
}
/*  */
.advantages_gray_fone {
    background-color: var(--backgound-gray);
    min-height: 256px;
    z-index: 5;
    position: relative;
}
.advantages_gray {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}
.advantages_gray li {
    list-style: none;
}
.advantages_gray_title {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 25px;
    margin-top: 48px;
}
.advantages_gray_description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: var(--text-description); 
    margin-bottom: 23px;  
}
/* блок с выбором формы */
.forms_block {
    position: relative;
    background-color: var(--basic-white);
    z-index: 5;
}
.forms_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    color: var(--basic-black);
    margin: 0;
    padding-top: 61px;
    margin-bottom: 31px;
}
.forms_description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: var(--text-description);
    margin: 0; 
    margin-bottom: 41px;
}
.forms_button {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-white); 
    background-color: var(--brown);
    cursor: pointer;
    width: 568px;
    height: 86px;
    /* display: block; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forms_button:hover {
    background-color: var(--brown-hover);
}
.forms_button:active {
    background-color: var(--brown-active);
}

/* форма */
.modal_hotel {
    width: 568px;
    height: 395px;
    background: var(--basic-white);
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    transition: all 0.5s ease 0s;
}
/* код для анимации появление попапа */
.modal_hotel_active {
    pointer-events: none;
    transform: translate( -50%, -100%);
    transition: all 0.5s ease 0s;
}
.form_hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_hotel label {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
}
.form_wrapper {
    margin-bottom: 30px;
}
.form_wrapper:first-of-type {
    margin-top: 55px;
}
.form_wrapper:last-of-type {
    margin-bottom: 53px;
}
.form_wrapper {
    display: flex;
    align-items: center;
    width: 458px;
}
.label_date,
.label_adults {
    min-width: 100px;
    padding-right: 12px;
    cursor: pointer;
}
.label_children {
    padding-right: 27px;
}
.adults_wrapper {
    justify-content: space-between;
}
.adults_inputs {
    display: flex;
    align-items: center;
}
.form_hotel input {
    background-color: var(--input-gray);
    height: 38px;
    border: none;
    color: inherit;
    font: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    padding-left: 13px;
    box-sizing: border-box;
    cursor: pointer;
}
.date_input {
    width: 346px;
    padding: 0;
}
.date_input::placeholder {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--basic-black);
    display: flex;
    align-items: center;
    vertical-align: middle
}
.date_calendar_wrapper {
    position: relative;
}
.date_calendar_wrapper svg{
    position: absolute;
    top: 7px;
    right: 9px;
    cursor: pointer;
}
.icon_calendar:hover path{
    fill: var(--basic-black);
}
.icon_calendar:active path{
    fill: var(--blue);
}

.input_group {
    display: flex;
    width: 114px;
}
  
.input_group input[type='button'] {
    min-width: 38px;
}
  
.input_group .button_minus,
.input_group .button_plus {
    padding: 0;
    margin: 0;
    position: relative;
    color: var(--input-minplus);
    font-size: 20px;
}
.input_group .button_minus:hover,
.input_group .button_plus:hover {
    color: var(--basic-black);
}
.input_group .button_minus:active,
.input_group .button_plus:active {
    color: var(--blue);
}
  
.input_group .quantity_field {
    position: relative;
    text-align: center;
    /* width: 100%; */
    width: 38px;
}

.form_hotel input[type="text"]:hover,
.form_hotel input[type="number"]:hover {
    background: var(--input-gray-hover);

}
.form_hotel input[type="text"]:focus,
.form_hotel input[type="number"]:focus {
    background: var(--basic-white);
    border: 2px solid var(--decor-gray);
    padding-left: 11px;
    box-sizing: border-box;
}
.form_hotel button {
    width: 458px;
    height: 58px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-white);
    background-color: var(--blue);
    border: none;
    cursor: pointer;
}
.form_hotel button:hover {
    background-color: var(--blue-hover);
}
.form_hotel button:active {
    background-color: var(--blue-active);
}
.maps {
    height: 594px;
    background-image: url(../img/map.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.maps iframe{
    width: 100%;
    height: 100%;
    border: none;
}

/* Футер */
.main_footer {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
    height: 120px;
}
.inside_footer {
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
    height: 120px;
}
.footer_left_side {
    margin-left: 105px;
    margin-right: 177px;
}
.footer_left_side p {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-black);
    margin: 0;
}
.footer_left_side p:first-child {
    margin-top: 24px;
    margin-bottom: 8px;
    margin-left: 19px;
}
.footer_left_side p:last-child {
    margin-left: 19px;
}
.footer_left_side a {
    color: var(--basic-black);
    text-decoration: none;
}
.footer_social_icons {
    display: flex;
    margin-right: 190px;
}

.list_social_icon {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.footer_social_icons li{
    list-style: none;
    margin-right: 6px;
}
.footer_social_icons li:last-of-type{
    margin-right: 0px;
}
.cube {
    width: 46px;
    height: 48px;
    background-color: var(--blue);    
}
.cube img {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0px, -50%);
}
.cube:hover{
    background-color: var(--blue-hover);
}
.cube:active{
    background-color: var(--blue-active);
}
.cube:active img {
    opacity: 0.3;
}

.copyright {
    display: flex;
    align-items: center;
}
.copyright_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-black);
    margin: 0;
    margin-right: 9px;
}
.icon_html:hover path {
    fill: var(--blue);
}
.icon_html:active path {
    fill: #BDBBBC;
}


/* Страница каталога */
.container_inside_page {
    width: 1054px;
    margin: 0 auto;
}

.filter_block {
    background-color: var(--blue);
    background-image: url("../img/background-blur.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 217px;
}
.filter_hotels {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr auto;
}
.filter_wrapper {
    display: flex;
    margin-top: 26px;
}
.range_wrapper {
    width: 317px;
    position: relative;
    flex-direction: column;
}
.filter_items {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 120px;
}
.filter_items:last-child {
    margin-right: 0px;
}
.filter_legend{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: var(--basic-white);
    margin-bottom: 24px;
}
.filter_legend_range{
    margin-bottom: 11px;
}
.filter_items ul {
    margin: 0;
    padding: 0;
}
.filter_items li {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 22px;
    position: relative;  
}
.filter_label {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    margin-left: 40px;
    cursor: pointer;
}
.filter_label img{
    position: absolute;
    left: 0;
}
.custom_checkbox + label {
    /* position: relative; */
    /* display: inline-flex; */
    align-items: center;
    user-select: none;
    cursor: pointer;  
}
/* .custom_checkbox + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -41px;
    width: 19px;
    height: 19px;
    border: 2px solid var(--basic-white);
    border-radius: 3px;
}
.custom_checkbox:checked+label::after {
    content: "";
    background-image: url('../img/assept.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -41px;
} */
.custom_checkbox ~ .checkbox-off{
    display: inline;
} 
.custom_checkbox ~ .checkbox-on{
    display: none;
}
.custom_checkbox:checked ~ .checkbox-off{
    display: none;
}
.custom_checkbox:checked ~ .checkbox-on{
    display: inline;
}
.custom_checkbox:focus ~ .checkbox-off, 
.custom_checkbox:focus ~ .checkbox-on {
    outline: auto;
    outline-color: var(--blue-hover);
}
.btn_show {
    width: 137px;
    height: 36px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color:  var(--basic-white);
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    border-radius: 2px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.btn_show:hover {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color:  var(--basic-black);
    border: 2px solid var(--basic-white);
    background-color: var(--basic-white);
    box-sizing: border-box;
    border-radius: 2px;
}
.price_controls {
    display: flex;
    margin-bottom: 11px;
}
.range_controls {
    position: relative;
    height: 21px;
    padding-top: 9px;
    margin-bottom: 14px;
}
.range_controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    mix-blend-mode: normal;
}
.range_controls .bar {
    width: 80%;
    height: 2px;
    background: var(--basic-white);
}
.range_controls .toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--input-range);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--input-range);
    cursor: pointer;
}
.range_controls .toggle:hover {
    transform: scale(1.2);
}
.range_controls .toggle_min {
    left: 0;
}
.range_controls .toggle_max {
    left: 80%;
}
.price_controls {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--basic-white);
}
.price_controls label {
    text-transform: uppercase;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    cursor: pointer;
    user-select: none;
    height: 32px;
}
.price_controls input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    text-align: center;
    width: 139px;
    margin-left: 12px;
    margin-top: 6px;
}
.min_price_input {
    border: 1px solid transparent;
    border-right: 2px solid var(--basic-white);
}
.max_price_input {
    border: none;
}

.price_controls input::placeholder {
    color: var(--basic-white);
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

/* Сортировка */

.sorting {
    display: flex;
    height: 86px;
    align-items: center;
}
.sort_title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    margin: 0;
    margin-right: 46px;
  }
.sort_index_items {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
    margin: 0;
    padding: 0;
    margin-right: 40px;
    margin-bottom: 6px;
  }
.sort_items {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.sort_items a {
    text-decoration: none;
    border-bottom: 1px dotted var(--blue);
    color: rgba(0, 0, 0, 0.3);

}
.sort_items a:hover {
    color: var(--blue);

}
.sort_items a:active {
    color: var(--basic-black);
    border-bottom: none;

}
.sort_item {
    list-style: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-right: 34px;
}
.sort_item_icons {
    list-style: none;
    margin-right: 12px;
}
.sort_item_icons:last-child {
    margin-right: 0px;
}
.sort_icons {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
}
.sort_icon:hover path {
    fill: var(--basic-black);
    cursor: pointer;
}
.sort_icon:active path {
    fill: var(--blue);
}
.sort_icon.actived path {
    fill: var(--blue);
}

/* Каталог */

.catalog_liner {
    border-top: 1px solid var(--decor-gray);
}
.catalog_liner:last-child {
    border-bottom: 1px solid var(--decor-gray);
}
.grid-wrapper {
    margin: 30px auto;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.picture_otel {
    grid-row: 1 / -1;
    grid-column: 1;
    align-self: center;
    margin-right: 29px;
}
.catalog_title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    margin-top: -5px;
    grid-row: 1;
    grid-column: 2 / 4;
}
.catalog_title a {
    color: var(--basic-black);
    text-decoration: none;
}
.catalog_title a:hover {
    color: var(--blue);
}
.catalog_title a:active {
    color: rgba(0, 0, 0, 0.3);
}
.catalog_cost {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-description);
    margin: 0;
    margin-top: -4px;
    grid-row: 2;
    grid-column: 3 / 3;
    align-self: self-start;
}
.catalog_hotel {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-description);
    margin: 0;
    margin-top: -4px;
    grid-row: 2;
    grid-column: 2 / 3;
    align-self: self-start;
}

.btn {
    border: none;
    min-height: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn_more {
    width: 110px;
    background-color: var(--blue);
    grid-row: 3;
    grid-column: 2 / 3; 
    align-self: end;
    margin-right: 6px;
}
.btn_more:hover {
    background-color: var(--blue-hover);
}
.btn_more:active{
    background-color: var(--blue-active);
    color: rgba(255, 255, 255, 0.3);
}
.btn_reserv {
    width: 142px;
    background-color: var(--brown);
    grid-row: 3;
    grid-column: 3 / 3;
    align-self: end;
}
.btn_reserv:hover {
    background-color: var(--brown-hover);
}
.btn_reserv:active {
    background-color: var(--brown-active);
    color: rgba(255, 255, 255, 0.3);
}
.catalog_rating {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-row: 1;
    grid-column-start: -1;
}
.catalog_rating li{
    margin-right: 4px;
}
.catalog_rating li:last-of-type{
    margin-right: 0px;
}
.catalog_rating_number {
    background-color: var(--input-gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: var(--rate);
    /* padding: 3px 12px 3px 15px; */
    width: 110px;
    height: 27px;
    grid-row-start: 3;
    grid-column-start: -1;
    align-self: end; 
}
